<div fxLayout="row" fxLayoutWrap="wrap">
  <!-- column -->
  <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <div fxLayout="row" fxLayoutWrap="wrap">
        <div fxFlex="15" class="m-l-15 m-t-15">

          <span class="p-10"><i class="fa fa-user-plus fa-3x" (click)="openDialog('Add',{})"></i></span>
        </div>

        <div fxFlex="65" class='text-center'>
          <h2>User Management</h2>
        </div>
        <div fxFlex="15" class="m-t-10">
          <mat-form-field>
            <mat-label>Search Users</mat-label>
            <input matInput placeholder="" value="" [(ngModel)]="searchString">
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </div>

        <div fxFlex="25" class="mat-elevation-z8" id="adminMenu">
          <mat-card-content>
            <mat-list *ngFor="let user of users">
              <mat-list-item role="listitem">{{user.username}}</mat-list-item>
            </mat-list>
          </mat-card-content>
        </div>

        <div fxFlex="75" class="mat-elevation-z8" id="adminDetails">
            <mat-form-field>
                <input matInput placeholder="Username" value="">
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Password" value="" type="password">
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="E-mail Address" value="">
            </mat-form-field>

            <mat-slide-toggle matTooltip="Change activity status"></mat-slide-toggle>
        </div>

      </div>
    </mat-card>
  </div>
</div>