<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->
<div fxLayout="row" fxLayoutWrap="wrap">
    <!-- column -->
    <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
        
            <mat-card>
                <div fxFlex="100">

                    <div fxFlex="100">
                        <h1>Dashboard</h1>
                    </div>

                    <div fxFlex="50">
                        <img
                            src="https://www.mathworks.com/help/examples/graphics/win64/CompareTypesOfBarGraphsExample_01.png">
                    </div>
                    <div fxFlex></div>

                    <div fxFlex="50">
                        <mat-card-title>

                        </mat-card-title>

                        <mat-card-subtitle>

                        </mat-card-subtitle>

                    </div>
                </div>
                <mat-card-content>
                    <!-- Row -->
                    <div fxLayout="row" fxLayoutWrap="wrap">
                        <!-- column -->
                        <div fxFlex.gt-sm="50" fxFlex.gt-xs="50">

                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    